<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles%}
    <meta charset="UTF-8">
    <title>{% block title %}Система учета задач{% endblock %}</title>

		<script type="text/javascript" src="{% static 'jquery-1.11.1.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'jquery-ui.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'jquery-ui-timepicker-addon.js' %}"></script>
<!--		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: '<Пред',
            nextText: 'След>',
            currentText: 'Сегодня',
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
            'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
            'Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
            dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
            dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            weekHeader: 'Не',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);


        $.timepicker.regional['ru'] = {
            timeOnlyTitle: 'Выберите время',
            timeText: 'Время',
            hourText: 'Часы',
            minuteText: 'Минуты',
            secondText: 'Секунды',
            millisecText: 'Миллисекунды',
            timezoneText: 'Часовой пояс',
            currentText: 'Сейчас',
            closeText: 'Закрыть',
            timeFormat: 'HH:mm',
            amNames: ['AM', 'A'],
            pmNames: ['PM', 'P'],
            isRTL: false
        };
        $.timepicker.setDefaults($.timepicker.regional['ru']);

          $( function() {
            $( ".dt-picker" ).datetimepicker();
            $( ".d-picker" ).datepicker();
          } );
        </script>

    <link rel="stylesheet" media="all" type="text/css" href="{% static 'jquery-ui.css'%}" />
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'jquery-ui-timepicker-addon.css'%}" />
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}"/>
    <style>div.my_header{position:relative;
                        width:70%;
                        text-align:center;
                        float:left;
                        #padding:inherit;
                        #min-height:inherit;
                        }
        div.my_header_info {position:relative;
                                float:right;
                                width:20%;
                                font-size:14px;
                                padding:inherit;
                                #min-height:inherit;
                                }</style>
    {% block pagestyle %}{% endblock %}
</head>
<body>
<header style="background-color: SlateGray; color: Lavender;">
        <div style="text-align: center; width=70%; float: left; "><h1>Система учета личных задач "Ежедневник"</h1></div>
        <div style="text-align: center; width=20%; height: 80px; ">{% if user.is_authenticated %}
           <p>Вы вошли как: {{ user }}</p>
        {% endif %}</div>
</header>
{% block menu %}
<nav class="navbar navbar-default">
    <ul class="nav nav-pills">
        {% if user.is_authenticated %}
            <li role="presentation" ><a href="{% url 'new' %}">Новая задача</a></li>
            <li role="presentation"><a href="{% url 'home' '1' %}?status_in=open{{ gotolast4open }}">Текущие</a></li>
            <li role="presentation"><a href="{% url 'home' '1' %}{{ gotolast4all }}">Все</a></li>
            <li role="presentation">
            <A href="/accounts/logout/?next=/">Выйти</A>
                </li>
            <li role="presentation">
                <A href="/accounts/password_change/?next=/">Сменить
                пароль</A>
            </li>
        {% else %}
            <li role="presentation"><a href="{% url 'anonymous_home' '1' %}?status_in=open">Текущие</a></li>
            <li role="presentation"><a href="{% url 'anonymous_home' '1' %}">Все</a></li>
            <li role="presentation">    <A href="/accounts/login/?next=/">Войти</A></li>
        {% endif %}
        {% if user.is_superuser or user.is_staff %}
            <li role="presentation"><a href="/admin/">Администрирование</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
{% block content %}{% endblock %}
<p></p>
<footer>
    <div class="panel-footer" style="display: flex;"><p class="footer" style="width: 30%;">&copy; Момзяков Андрей Юрьевич, 2016</p><p class="footer" style="Width: 30%">
    <a href="mailto:andrius-smth@yandex.ru"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;</a>Написать</p></div>

</footer>
</body>
</html>