<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Система учета задач{% endblock %}</title>
</head>
<body>
<div class="TopMenu">
{% block menu %}
<table>
    <tr>
        <td><a href="{% url 'new' %}">Новая задача</a></td>
        <td><a href="{% url 'home' '1' %}?status_in=open">Текущие</a></td>
        <td><a href="{% url 'home' '1' %}">Все</a></td>
        {% if user.is_authenticated %}
            <td>
            <A href="/accounts/logout/?next=/">Выйти</A>
                </td>
            <td>
                <A href="/accounts/password_change/?next=/">Сменить
                пароль</A>
            </td>
        {% else %}
            <td>    <A href="/accounts/login/?next=/">Войти</A></td>
        {% endif %}
        {% if user.is_superuser %}
            <td><a href="/admin/">Администрирование</ah></td>
        {% endif %}
    </tr>
</table>
{% endblock %}
</div>
{% block content %}{% endblock %}

</body>
</html>