{% extends "base.html" %}
{% load widget_tweaks %}

{% block pagestyle %}
<style>
    #serch_form.hidden{
        display:none;
    }
    #search_form.apparent{
        display:block;
    }
</style>
{% endblock %}
{% block title %}Список задач{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){

        $('#page{{page_obj.number}}').addClass("active");

        $("input[name='subject'], input[name='desc'], #id_status, #id_closed1, #id_closed2").addClass("form-control");
        $("#id_closed1, #id_closed2").datetimepicker();
        $("label").addClass("control-label");
        $("#switch_filter_form").on("click", function(){
          current_class = $("#search_form").attr("class");
          if (current_class.indexOf('hidden') >= 0){
            $("#search_form").removeClass('hidden').addClass('apparent');
          } else {
            $("#search_form").removeClass('apparent').addClass('hidden');
          }
        });

});
</script>
<div class="container">
<h2 style="display: inline; margin-right: 0em;">Список задач</h2>
    <button id="switch_filter_form" class="btn" style="display: inline;">Показать/Скрыть фильтр</button>
                <form id="search_form" method="GET" action="" role="form" class="form-inline">
                    {{filter_form.errors}}
                    {% for field in filter_form %}
                        <div class="form-group">
                        {{field.errors}}
                        {{field.label_tag}}<br/>
                        {{field}}
                        </div>
                    {% endfor %}
                <input type="submit" value="Найти" class="btn btn-success"/>
                <input type="reset" value="Очистить" class="btn btn-reset"/>
                <hr/>
                </form>
    <table class="table table-hover">
        <thead><tr>
        {% if user.is_authenticated %}
            <th>Изменить<br>приоритет</th>
        {% endif %}
            <th>#</th>
        <th>Действия</th>
        <th>Тип карточки</th>
        <th>Предмет</th>
        <th>Проект</th>
        <th>Модуль</th>
        <th>Автор</th>
        <th>Дата созд.</th>
        <th>Исполнитель</th>
        <th>Статус</th>
        <th>Закрыто</th>
        </tr></thead>
        <tfoot>
           <tr><td colspan="12">
            <ul class="pagination">
                {% for pagenum in page_numbers %}
                    {% if user.is_authenticated %}
                        <li id="page{{ pagenum }}"><a href = "{% url 'home' pagenum %}{{ get_qry }}">{{ pagenum }}</a></li>
                    {% else %}
                        <li id="page{{ pagenum }}"><a href = "{% url 'anonymous_home' pagenum %}{{ get_qry }}">{{ pagenum }}</a></li>
                    {% endif%}
                {% endfor%}
            </ul>
           </td></tr>
        </tfoot>
        <tbody>
        {% for task in object_list %}
            <tr>
            {% if user.is_authenticated %}
                <td><a href="{% url 'priority' task.id %}{{ get_qry }}" title="На верх списка"><span class="glyphicon glyphicon-arrow-up"></span></a>
                    &nbsp;&nbsp;<a href="{% url 'priority_down' task_id=task.id increase='down' %}{{ get_qry }}" title="В низ списка"><span class="glyphicon glyphicon-arrow-down"></span></a>
                </td>
            {% endif %}
                <td>{{ task.id }}</td>
                <td><a href="{% url 'detail' task.id %}" title="Детали"><span class="glyphicon glyphicon-folder-open"></span></a>
            {% if user.is_authenticated %}
                &nbsp;&nbsp;<a href="{% url 'edit' task.id %}" title="Редактировать"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
                </td>
            <td>{{ task.type }}</td>
            <td>{{ task.subject }}</td>
            <td>{{ task.project|default_if_none:"" }}</td>
            <td>{{ task.module|default_if_none:"" }}</td>
            <td>{{ task.created_by|default_if_none:"" }}</td>
            <td>{{ task.created|default_if_none:""|date:"d.m.Y H:i" }}</td>
            <td>{{ task.executor|default_if_none:"" }}</td>
            <td>{{ task.get_status_literal|default_if_none:"" }}</td>
            <td>{{ task.closed|date:"d.m.Y H:i"|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
