{% extends "base.html" %}
{% load i18n %}

{% block title %}Список задач{% endblock %}
{% block content %}
<h1>Список задач</h1>
    <table border="1" cellspacing="0">
        <thead>
        {% if user.is_authenticated %}
            <th>Изменить<br>приоритет</th>
        {% endif %}
        <th>Тип карточки</th>
        <th>Предмет</th>
        {% if user.is_authenticated %}
            <th>Действия</th>
        {% endif %}
        <th>Проект</th>
        <th>Модуль</th>
        <th>Автор</th>
        <th>Дата созд.</th>
        <th>Исполнитель</th>
        <th>Статус</th>
        <th>Закрыто</th>
        </thead>
        {% for task in object_list %}
            <tr>
            {% if user.is_authenticated %}
                <td>
                    <button type="button" style="border-radius:30%;height:30px;width:30px;" title="На верх списка"
                            onclick="parent.location='{% url 'priority' task.id %}{{ get_qry }}'">&#9650;</button>
                    <button type="button" style="border-radius:30%;height:30px;width:30px;" title="В низ списка"
                            onclick="parent.location='{% url 'priority_down' task_id=task.id increase='down' %}{{ get_qry }}'">&#9660;</button>
                </td>
            {% endif %}
            <td>{{ task.type }}</td>
            <td><a href="{% url 'detail' task.id %}">{{ task.subject }}</a></td>
            {% if user.is_authenticated %}
                <td><a href="{% url 'edit' task.id %}">Изменить</a></td>
            {% endif %}
            <td>{{ task.project|default_if_none:"" }}</td>
            <td>{{ task.module|default_if_none:"" }}</td>
            <td>{{ task.created_by|default_if_none:"" }}</td>
            <td>{{ task.created|default_if_none:""|date:"d.m.Y H:i" }}</td>
            <td>{{ task.executor|default_if_none:"" }}</td>
            <td>{{ task.get_status_literal|default_if_none:"" }}</td>
            <td>{{ task.closed|date:"d.m.Y H:i"|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </table>
    <p></p>
    {% if user.is_authenticated %}
        <table>
            <tr>
                <td>
                    <button type="button" onclick="parent.location='{% url 'home' 1 %}{{ get_qry }}'"
                    style="height:125%;">&#10094;&#10094;</button>
                </td>
                {% if page_obj.has_previous %}
                    <td>
                        <button type="button" style="height:120%"
                                onclick="parent.location='{% url 'home' page_obj.previous_page_number %}{{ get_qry }}'">&#10094;</button>
                    </td>
                {% endif %}
                <td>&lt;Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}&gt; </td>
                {% if page_obj.has_next %}
                    <td>
                        <button type="button" style="height:120%"
                                onclick="parent.location='{% url 'home' page_obj.next_page_number %}{{ get_qry }}'">&#10095;</button>
                    </td>
                {% endif %}
                {% if page_obj.paginator.num_pages %}
                    <td>
                  <button type="button" onclick="parent.location='{% url 'home' page_obj.paginator.num_pages %}{{ get_qry }}'"
                    style="height:125%;">&#10095;&#10095;</button>
                    </td>
                {% else %}
                    <td>
                  <button type="button" onclick="parent.location='{% url 'home' 1 %}{{ get_qry }}'"
                    style="height:125%;">&#10095;&#10095;</button>
                    </td>
                {% endif %}
            </tr>
        </table>
    {% else %}
        <table>
            <tr>
                <td>
                    <button type="button" onclick="parent.location='{% url 'anonymous_home' 1 %}{{ get_qry }}'"
                    style="height:125%;">&#10094;&#10094;</button>
                </td>
                {% if page_obj.has_previous %}
                    <td>
                        <button type="button" style="height:120%"
                                onclick="parent.location='{% url 'anonymous_home' page_obj.previous_page_number %}{{ get_qry }}'">&#10094;</button>
                    </td>
                {% endif %}
                <td>&lt;Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}&gt; </td>
                {% if page_obj.has_next %}
                    <td>
                        <button type="button" style="height:120%"
                                onclick="parent.location='{% url 'anonymous_home' page_obj.next_page_number %}{{ get_qry }}'">&#10095;</button>
                    </td>
                {% endif %}
                {% if page_obj.paginator.num_pages %}
                    <td>
                  <button type="button" onclick="parent.location='{% url 'anonymous_home' page_obj.paginator.num_pages %}{{ get_qry }}'"
                    style="height:125%;">&#10095;&#10095;</button>
                    </td>
                {% else %}
                    <td>
                  <button type="button" onclick="parent.location='{% url 'anonymous_home' 1 %}{{ get_qry }}'"
                    style="height:125%;">&#10095;&#10095;</button>
                    </td>
                {% endif %}
            </tr>
        </table>
    {% endif %}
{% endblock %}
